

body {margin:0;}
        
        .icon-bar {
          width: 100%;
          background-color: #555;
          overflow: auto;
          display: flex;
          justify-content: space-evenly;
        }
        
        .icon-bar a {
          float: left;
          /* width: 20%; */
          text-align: center;
          padding: 12px 0;
          transition: all 0.3s ease;
          color: white;
          font-size: 36px;
          width: 7rem;
        }
        
        .icon-bar a:hover {
          background-color: #000;
        }
        
        .active {
          background-color: #1ab394;
        }




        img{
            width: 179px;
            height: 179px;
            border-radius: 5%;
        }
        
        
        
        
        .wrapper{
            display:flex; 
            justify-content:center;
            height: auto;
        }
        
        .searchWrapper{
            height:auto; 
            width:55.2rem;
            padding: 2rem;
            overflow: hidden;
        }
        
        .searchFieldWrapper{
            margin-left: auto; 
            margin-right:auto; 
            padding-bottom: 5rem;
        }
        
        .searchField{
            display: flex;
        }
        
        .searchResultWrapper{
            display: flex; 
            flex-direction: row; 
            flex-wrap: wrap; 
            justify-content: space-between;  
        }
        
        .searchResult{
            width: 11rem;
            margin-top: 1rem;
            
        }
        
        a{
            text-decoration: none;
            color: black;
        }
        
        .resultBox{
            padding-top: 1rem; 
            padding-bottom: 3rem;
        }

        .footer{
            position: fixed; 
            left: 0; 
            bottom: 0; 
            width: 100%;  
        }
        
        @media only screen and (max-width: 768px) {
        
            .resultDetailBox{
                display: flex; 
                justify-content: space-between;
                
            }
        
            .searchResult{
                height: 6rem;
                overflow: hidden;
                margin-top: 0px;
            }
        
            .searchWrapper{
                width: 20.2rem;
            }
        
            .searchResultWrapper{
                justify-content: center;
            }
        
            .resultBox{ 
                width: 100%;
                border: solid 1px lightgray;
                margin-bottom: 1rem;
                border-radius: 6px;
                height: 6rem;
                padding: 1rem;
            }
        
            img{
                width: 90px;
                height: 90px;
            }
        
            .searchFieldWrapper{
                padding-bottom: 2rem;
            }
        }