<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
</head>

<div class="wrapper">
<div class="searchWrapper">
<form (ngSubmit)="submitSearch()">
 <div class="searchFieldWrapper">
  <mat-form-field appearance="outline" style="display: inline-block; width: 100%;">
    <div class="searchField">
    <input matInput type="text" placeholder="Suche nach einem Podcast" name="term" [(ngModel)]="term">
    <button mat-icon-button type="submit"><i class="material-icons">search</i></button>
  </div>
  </mat-form-field>
  <div style="width: 100%;"></div>
</div>  
  </form>


  <div>
  <div *ngIf="!results">
  </div>
  <div *ngIf="results?.resultCount == 0">
    <p>Couldn't find results</p>
  </div>
  <div class="searchResultWrapper" *ngIf="results?.resultCount > 0">
    <div class="resultBox" *ngFor="let res of results.results">
      <a [routerLink]="['/podcast']" [queryParams]="{ url: res.feedUrl}"><div class="resultDetailBox"><img src="{{res.artworkUrl600}}"> <div class="searchResult">{{ res.trackName }} - {{ res.artistName }}</div></div></a>
    </div>
  </div>
</div>
</div>
</div>
<div class="footer">
<div class="icon-bar">
  <a href="#"><i class="fa fa-home"></i></a> 
  <a class="active" href="#"><i class="fa fa-search"></i></a> 
  <a href="#"><i class="fa fa-bookmark"></i></a> 
</div>
</div>
</html>