.commentContainer {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    /* padding: 15px; */
    width: 100%;
    margin-bottom: 4rem;
    
  
}  
  
    .commentContainer .editor {
      margin-top: 20px;
  
    }

    .commentContainer .editor input.comment {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-bottom: 10px;
        outline: none;
      }

    .commentContainer .comment-item {
        margin-top: 10px;
      }

      .commentContainer .dynamicContainer {
        margin-left: 50px;
      }

  