<div class="commentContainer">

  <div class="editor" style="margin-top: 0;">
    <!-- Edit to create a new comment -->
    <mat-form-field appearance="fill" style="width: 100%;">
    <input matInput type="text" class="comment" placeholder="Schreibe einen Kommentar" name="content"
      [(ngModel)]="comment.content">
      <div class="btns">
        <button mat-raised-button (click)="onComment(comment)" color="primary" style="float: right;">
          Kommentieren
        </button>
      </div>
    </mat-form-field>
  </div>

    <div class="comment-item" *ngFor="let comment of comments$ | async; let idx = index" style="    margin-top: 10px;
    margin-left: 2rem;
    margin-bottom: 2rem;">
      <div>
        <b>{{comment.userName}}</b> -
        <small>{{comment.date | date:'MMM d'}}</small>
      </div>
      <div>
        {{comment.content}}
      </div>
  
      <!-- Section to edit a comment -->
      <div *ngIf="editComment == comment.docId">
        <input type="text" [(ngModel)]="comment.content">
        <button (click)="onEdit(comment)">save</button>
        <button (click)="editComment = ''">cancel</button>
      </div>
  
      <!-- Buttons to edit, delete and view reply of a comment -->
      <!-- <button (click)="editComment = comment.docId">Edit</button>
      <button (click)="onDelete(comment)">Delete</button> -->
      <!-- <button (click)="viewReply = comment.docId; onViewReply(comment)"> View Reply </button> -->
  
      <!-- Container for dynamic content -->
      <!-- <div class="dynamicContainer" *ngIf="viewReply == comment.docId">
        <ng-template #dynamic></ng-template>
      </div> -->
  
    </div>
  
    
  
  </div>
  
