<div style="width: 100%; display: flex;">
<video controls autoplay>
<source src="https://firebasestorage.googleapis.com/v0/b/podreact.appspot.com/o/movie.mp4?alt=media&token=4407fcaa-ed20-439f-a364-fe72e7c5f2bc" type="video/mp4">
</video>
</div>
<!-- <p>graph works! {{interactionActionType.endpoint}}</p> -->

