textarea {
    display: block;
    margin: 4px 0 8px;
  }

  .share .fa {
    padding: 11px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-share-alt{
  background: #4CAF50;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-envelope {
  background: rgb(226, 163, 45);
  color: white;
}

.fa-get-pocket{
  background:red;
  color: white;
}
