
<div style="border-radius: 6px;
border: solid 1px lightgrey;
height: 100%; max-width: 26rem;">
  <div>
    <img [src]="link" style="height: auto; max-width: 100%;">
  </div>
  <p style="font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;">{{title}}</p>
   <p style="margin-left: 1rem;">Artikel teilen:</p>
  <div style="display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;">
  <a mat-raised-button color="primary" [href]="articleUrl" target="_blank" style="float: right;
  height: 2.5rem;
  margin-top: 0.5rem;">
    Artikel lesen
  </a>
  <div class="share">
    <a class="facebook" matTooltip="Artikel auf Facebook teilen" href="https://www.facebook.com/sharer.php?u={{articleUrl}}" target="_blank" rel="nofollow"
      class="fa fa-facebook" id="smsharing">

    </a>
  
    <a class="mail" matTooltip="Artikel per Facebook teilen" href="mailto:?subject=Check out this podcast&body=Thought you might like this: {{articleUrl}}" target="_blank"
      class="fa fa-envelope" id="smsharing">

    </a>

    <a class="mail" matTooltip="Artikel auf Twitter teilen" href="http://twitter.com/share?url={{articleUrl}}" target="_blank"
      class="fa fa-twitter" id="smsharing">

    </a>

    <a class="pocket" matTooltip="Artikel in Pocket speichern" href="https://getpocket.com/save?url={{articleUrl}}" target="_blank"
      class="fa fa-get-pocket" id="smsharing">

    </a>

  </div> 
</div>
</div>
  