<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://unpkg.com/survey-angular"></script>
  <link href="https://unpkg.com/survey-angular/survey.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
</head>
<div class="wrapper">
  <div class="playerInfoBox">
    <div class="descriptionWrapper">
      <img src="{{this.feed?.feed.image}}" class="podcastImage">
      <div class="descriptionBox">
      <h1>
        {{this.feed?.feed.title}}
      </h1>
      <h3>
        {{this.feed?.feed.author}}
      </h3>
      <p>
        {{this.feed?.feed.description}}
      </p>
    </div>
    </div>
    <div style="display: flex; flex-direction: column;">
    <!-- <div style="margin-left: 20px;">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span> 
    </div> -->
    <button mat-raised-button color="primary" style="height: 30%; align-self: flex-end;">Abonnieren</button>
  </div>
  </div>
<div *ngIf="!mobile">
  <div class="demo" style="width: 100%; min-height: 385px;" [ngSwitch]="currentActionType?.action">
    <div style="display: flex; flex-direction: column;">  
    </div>  
    <div *ngIf="!placeholder">
    <app-links *ngSwitchCase="action.Links" [interactionActionType]="currentActionType"></app-links>
    <app-youtube *ngSwitchCase="action.Youtube" [interactionActionType]="currentActionType"></app-youtube>
    <app-image *ngSwitchCase="action.Image" [interactionActionType]="currentActionType" style="display: flex; justify-content: space-around;">
    </app-image>
    <app-video *ngSwitchCase="action.Video" [interactionActionType]="currentActionType" style="width: 100%; display: flex; justify-content: center;"></app-video>
    <app-poll *ngSwitchCase="action.Poll" (closeInteraction)="closeInteraction()" [interactionActionType]="currentActionType" style="width: 98%;"></app-poll>
  </div>
    <img *ngIf="placeholder" class="popup" src="{{this.feed?.feed.image}}">
  </div>
  <mat-basic-audio-player #player id='track' [audioUrl]="msbapAudioUrl" [title]="msbapTitle" [autoPlay]="false"
    muted="muted" [displayTitle]="false" [displayVolumeControls]="true"></mat-basic-audio-player>
</div>
    <div class="episodeHeader">
      Neueste Episoden
    </div>
  <div style="border: 1px solid lightgray; border-radius: 0 0 6px 6px;">
    <ul id="myDIV" class="items">
      <li *ngFor="let item of this.feed?.items" 
      (click)="setStateAsActive(item); modalTrigger()">
        <div class="episode" style="margin-top: 1rem; margin-bottom: 1rem;" [class.clicked]="item === activeState" id="myBtn">
          <p style="margin-left: 2rem; margin-right:2rem; padding-top: 7px; padding-bottom: 7px;" (click)="playEpisode(item)">
            {{item.title}}</p>
          </div>
      </li>
    </ul>
  </div>
  
  <div class="share" style="float: right; margin-top: 1rem;">
      <a class="facebook" href="https://www.facebook.com/sharer.php?u=" target="_blank" rel="nofollow"
        class="fa fa-facebook" id="smsharing">

      </a>
    
      <a class="mail" href="mailto:?subject=Check out this podcast&body=Thought you might like this:" target="_blank"
        class="fa fa-envelope" id="smsharing">

      </a>

      <a class="mail" href="http://twitter.com/share?url=" target="_blank"
        class="fa fa-twitter" id="smsharing">

      </a>

      <a class="pocket" href="https://getpocket.com/save?url={{this.feed?.feed.url}}" target="_blank"
        class="fa fa-get-pocket" id="smsharing">

      </a>

    </div>

<div class="commentContainer" style="margin-top: 6rem; margin-bottom: 7rem;">
  <!-- <h3>Kommentaree</h3> -->

  <comment [feed]="feed"></comment>
</div>

</div>

<div class="footer">
<div class="icon-bar">
  <a class="active" href="#"><i class="fa fa-home"></i></a> 
  <a href="#"><i class="fa fa-search"></i></a> 
  <a href="#"><i class="fa fa-bookmark"></i></a>
</div>
</div>
<div id="myModal" class="modal" *ngIf="mobile">

  <!-- Modal content -->
  <div class="modal-content">
    <div id="test">
    <div class="modal-header">
      <span class="close" (click)="modalExit()">&times;</span>
      <h2 style="margin-top: 0.7rem;">{{this.feed?.feed.title}}</h2>
    </div>
    <div class="demo" style="width: 100%; min-height: 385px;" [ngSwitch]="currentActionType?.action">
      <!-- <app-links></app-links> -->
      <div *ngIf="!placeholder">  
      <app-youtube *ngSwitchCase="action.Youtube" [interactionActionType]="currentActionType"></app-youtube>
      <app-image *ngSwitchCase="action.Image" [interactionActionType]="currentActionType" style="display: flex; justify-content: space-around;">
      </app-image>
      <app-links *ngSwitchCase="action.Links" [interactionActionType]="currentActionType"></app-links>
      <app-video *ngSwitchCase="action.Video" [interactionActionType]="currentActionType" style="width: 100%; display: flex; justify-content: center;"></app-video>
      <app-poll *ngSwitchCase="action.Poll" (closeInteraction)="closeInteraction()" [interactionActionType]="currentActionType" style="width: 98%;"></app-poll>
    </div>
      <div style="display: flex; justify-content: space-around;">
      <img *ngIf="placeholder" class="popup" src="{{this.feed?.feed.image}}">
    </div>
    </div>
    </div>
  </div>
  

</div>
<mat-basic-audio-player *ngIf="mobile" #player id='track' [audioUrl]="msbapAudioUrl" [title]="msbapTitle" [autoPlay]="false"
      muted="muted" [displayTitle]="false" [displayVolumeControls]="true" style="width: 100%; position: fixed; bottom: 61px; background-color: lightgrey;"></mat-basic-audio-player>

</html>