.podcasts {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }

  .episodeHeader{
    margin-top: 2rem;
    border-radius: 6px 6px 0 0;
    background-color: #3f51b5;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 1.1rem;
  }

  .popup{
    width: 300px;
    height: 300px;
    border-radius: 5%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  body {margin:0;}
      
      .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
        display: flex;
        justify-content: space-evenly;
      }
      
      .icon-bar a {
        float: left;
        /* width: 20%; */
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
        width: 7rem;
      }
      
      .icon-bar a:hover {
        background-color: #000;
      }
      
      .active {
        background-color: #1ab394;
      }

  .footer{
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%;  
}
  .podcasts li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.6em;
    border-radius: 4px;
  }

  .podcasts li.selected {
    background-color: #CFD8DC;
    color: white;
  }

  .playerInfoBox{
    display: inline-block; 
    margin-bottom: 2rem;
    width: 100%;
  }

  .podcasts .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .checked{
    color: orange;
  }

  .demo{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;  
    border-radius: 6px;
    margin-bottom: 3rem;
  }

  

  .clicked, .episode:hover {
    background-color: lightgray;
    color: white;
  }

  .descriptionBox{
    width: 100%;
  }

  .descriptionWrapper{
    display: inline-block;
  }

  .podcastImage{
    margin-right: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 5%;
    margin-bottom: 1rem;
  }

  .items a.selected {
    background-color: #CFD8DC;
    color: white;
  }

  .wrapper{
    max-width:55.2rem;
    padding: 2rem;
    overflow: hidden;
    margin-left:auto; margin-right:auto;
  }

  .headlineEpisodes{
    margin-left: 2.5rem;
    margin-top: 1.5rem;
  }

  .items{
    list-style:none;
     padding-left: 0;
  }

  .items li.selected {
    background-color: #CFD8DC;
  }
  
  li{
    cursor: pointer;
  }

  .container {
    width: 100%;
    margin: auto;
  }

  .share .fa {
    padding: 11px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-share-alt{
    background: #4CAF50;
    color: white;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-envelope {
    background: rgb(226, 163, 45);
    color: white;
  }

  .fa-get-pocket{
    background:red;
    color: white;
  }

  .socialShareLinks {
    list-style: none;
}

.modal {
  display: none;  /*Hidden by default */
  position: fixed; /* Stay in place */
   /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border-radius: 6px 6px 0 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /*Fallback color*/
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  position: fixed;
  bottom: 61px;
  border-radius: 6px 6px 0 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  margin-top: 1rem;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  border-radius: 6px 6px 0 0;
  background-color: #1ab394;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@media only screen and (min-width: 769px) {
  .podcasts li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }

  .demo{
    border: 1px solid lightgray;
    margin-bottom: 0;
  }

  .playerInfoBox{
    display: flex; 
    flex-direction: column;
  }

  .descriptionWrapper{
    display: flex;
  }

  .descriptionBox{
    max-width: 70%;
  }
}


