img{
    width: 100%;
    height: auto;
}

.responsive-video iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 62%;
}
    .responsive-video {
        
    padding-top: 0px;
    height: 0px;
    overflow: hidden;
    width: 100%;
    display: flex;
    margin-top: 1.8rem;

}

@media only screen and (max-width: 768px) {
    .responsive-video iframe{
        position: absolute;
        left: 28.5%;
        width: 43%;
        height: 383px;
    }
    .responsive-video {
    margin-top: 0;
}
}



