
<div class="responsive-video">
<iframe [src]="link" frameborder="0" width="250" height="315"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>
</div>